body {
  background-color: lavender;
}

h2 {
  color: Purple;
  font-family:verdana;
}
p {
  color: Purple;
  font-family:verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav {
  color: Purple;
  font-family:verdana;
}

h3 {
  color: Purple;
  font-family:verdana;
}